html, body, header {
    margin: 0;
    padding: 0;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/* LOGO TOP NAV */
.topnav {
    background-color: seagreen;
    width: 100%;
    margin: 0;
}

.topnav a {
    max-height: 100px;
    width:100%;
    height:100%;
}

.topnav a img {
    padding: 1%;
    max-width:100%;
    max-height:100%;
    display: block;
}

/* MAIN MENU */
#mainNav {
    overflow: hidden;
    background-color: seagreen;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

#storeLink {
    border-right: 5px solid darkgreen
}

#mainNav a {
    display: block;
    text-align: center;
    padding: 0.75rem 0.75rem;
    text-decoration: none;
    color: white;
}

#mainNav a:hover {
    background-color: darkgreen;
}

#mainNav a.active {
    background-color: mediumseagreen;
}

.sticky {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1vh 2vh #333333;
}

.sticky + .content {
    padding-top: 60px;
}

#logInIcon {
    display: none;
    height: 1rem;
    filter: invert(1);
    margin: 0;
    padding: 0;
}

#logInText {
    display: inline-block;
    margin: 0;
    padding: 0;
}
@media (max-width: 400px) {
    #logInIcon {
        display: inline-block;
    }
    #logInText {
        display: none;
    }
}
/* END OF HEADER STYLE */

/* MAIN SECTION */
.main h2 {
    text-align: center;
    font-size: 40px;
    padding-left: 1%;
    padding-right: 1%;
}

.main h2 a {
    text-decoration: none;
    color: black
}
/* END OF MAIN SECTION */

/* FOOTER */
footer {
    width: 100%;
    background-color: seagreen;
    padding: 10px;
    color: white;
    bottom: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline;
}

footer a:hover {
    font-weight: bold;
}
/* END OF FOOTER */

