/* COPY CODE FROM HERE FOR TOP BAR */
html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Helvetica, Arial;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: seagreen;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav img {
    width: 75%;
    length: 75%;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav .search-bar button{
    float: right;
    padding: 6px 10px;
    margin-top: 25px;
    margin-right: 16px;
    background: lightgray;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
}

.mainnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: seagreen;
    position: fixed;
    top: 90px;
    width: 100%;
}

.mainnav li {
    float: left;
}

.mainnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainnav a:hover {
    background-color: darkgreen;
}
/* COPY CODE BETWEEN TOP COMMENT AND THIS COMMENT */

/* MAIN CONTENT */
.main {
    margin-top: 170px;
}

.main h2 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.main h2 a {
    text-decoration: none;
    color: black
}

p {
    margin-left: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
}
/* END OF MAIN CONTENT */

/* COPY FOOTER STYLE */
footer {
    background-color: seagreen;
    padding: 10px;
    margin-top: 50px;
    color: white;
    /*position: fixed;*/ /* Uncomment if your page is short */
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline;
}

footer a:hover {
    font-weight: bold;
}
/* COPY FOOTER STYLE */