
html, body, footer {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

* {
    font-family: Helvetica, Arial;
    /*box-sizing: border-box;*/
}

.topnav {
    position: relative;
    /*position: fixed;*/
    background-color: seagreen;
    top: 0;
    max-width: 100%;
    margin: 0;
    min-height: 50px;
    height: 5%;
    max-height: 100px;
    padding: 2%;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*padding: 10px;*/
    overflow: hidden;
    background-color: seagreen;
    /*position: relative;*/
    /*top: 0;*/
    /*width: 100%;*/
}

.topnav img {
    width: 75%;
    display: block;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav .search-bar button{
    float: right;
    padding: 6px 10px;
    margin-top: 25px;
    margin-right: 16px;
    background: lightgray;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
}

.mainnav {
    /*position: fixed;*/
    width: 100%;
    position: relative;
}

.mainnav ul {
    max-width:100%;
    max-height:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: seagreen;
    width: 100%;
    position: relative;
}

.mainnav li {
    float: left;
}

.mainnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainnav a:hover {
    background-color: darkgreen;
}

 body {
     font-family: Arial, Helvetica, sans-serif;
 }

.mobnav {
    overflow: hidden;
    background-color: seagreen;
    position: relative;
}

.mobnav #myLinks {
    display: none;
}

.mobnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/*#logo img {*/
/*    height: 75%;*/
/*}*/

.mobnav a.icon {
    background: #333;
    display: block;
    position: relative;
    /*right: 0;*/
    left: 0;
    top: 0;
}

.logo a:hover{
    background-color: seagreen;
}

#myLinks a:hover {
    background-color: darkgreen; /*#ddd*/
    color: white;
}

.rightlinks a:hover{
    background-color: darkgreen; /*#ddd*/
    color: white;
}
.active {
    background-color: seagreen;
    color: white;
}

.slogan {
    color: white;
    float: right;
    padding: 2% 2%
}
@media screen and (max-width: 600px) {
    .slogan{
        display: none;
        visibility: hidden;

    }
}

.main {
    position: relative;
    display: block;
    /*margin-top: 170px;*/
    padding: 2%;
    margin-bottom: 50px;
}

.main h2 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    margin: 0;
    max-width: 100%;
}


p {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    /*margin-left: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;*/
}

footer {
    background-color: seagreen;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: -10px;
    color: white;
    /*position: fixed;*/
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline;
}

footer a:hover {
    font-weight: bold;
}
