/* COPY CODE FROM HERE FOR TOP BAR */
html, body, footer {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

* {
    font-family: Helvetica, Arial;
    /*box-sizing: border-box;*/
}

.topnav {
    position: relative;
    background-color: seagreen;
    top: 0;
    max-width: 100%;
    margin: 0;
    min-height: 50px;
    height: 5%;
    max-height: 100px;
    padding: 2%;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*padding: 10px;*/
    overflow: hidden;
    background-color: seagreen;
    /*position: relative;*/
    /*top: 0;*/
    /*width: 100%;*/
}

.topnav img {
    width: 75%;
    display: block;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav .search-bar button{
    float: right;
    padding: 6px 10px;
    margin-top: 25px;
    margin-right: 16px;
    background: lightgray;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
}

.mainnav {
    width: 100%;
    position: relative;
}

.mainnav ul {
    max-width:100%;
    max-height:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: seagreen;
    width: 100%;
    position: relative;
}

.mainnav li {
    float: left;
}

.mainnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainnav a:hover {
    background-color: darkgreen;
}
/* COPY CODE BETWEEN TOP COMMENT AND THIS COMMENT */

/* MAIN CONTENT */
.main {
    position: relative;
    display: block;
    /*margin-top: 170px;*/
    padding: 2%;
}

.main h2 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    margin: 0;
    max-width: 100%;
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    /*margin-left: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;*/
}
/* END OF MAIN CONTENT */

/* COPY FOOTER STYLE */
footer {
    width: 100%;
    position: relative;
    background-color: seagreen;
    padding: 10px;
    /*margin-top: 50px;*/
    color: white;
    /*position: fixed;*/ /* Uncomment if your page is short */
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline;
}

footer a:hover {
    font-weight: bold;
}
/* COPY FOOTER STYLE */