* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.main {
    display: block;
    padding: 2%;
    margin-bottom: 70px;
    min-height: calc(100vh - 70px);
}

.main::after {
    content: "";
    display: block;
}

.main h2 {
    text-align: center;
    padding: 1rem;
    font-size: 40px;
    margin: 0;
    max-width: 100%;
}

footer, .main::after {
    height: 70px;
}

footer {
    display: grid;
    grid-template-rows: repeat(2, auto);
    background-color: seagreen;
    padding: 1em;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline;
}

footer a:hover {
    font-weight: bold;
}

.mobnav {
    overflow: hidden;
    background-color: seagreen;
    position: relative;
}

.mobnav #myLinks {
    display: none;
}

.mobnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobnav a.icon {
    background: #333;
    display: block;
    position: relative;
    left: 0;
    top: 0;
}

.logo a:hover {
    background-color: seagreen;
}

#myLinks a:hover {
    background-color: darkgreen; /*#ddd*/
    color: white;
}

.rightlinks a:hover {
    background-color: darkgreen; /*#ddd*/
    color: white;
}

.active {
    background-color: seagreen;
    color: white;
}

.slogan {
    color: white;
    float: right;
    padding: 2% 2%
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    /*margin-left: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;*/
}

ul.breadcrumb {
    margin: 0;
    padding: 2em; /*10px 16px;*/
    list-style: none;
    background-color: seagreen;
    width: 100%;
    color: white;
    font-weight: bold;
}

ul.breadcrumb li {
    display: inline;
    /*font-size: 18px;*/
}

ul.breadcrumb li + li:before {
    padding: 8px;
    content: "/";
}

ul.breadcrumb li a {
    text-decoration: none;
    color: white;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .slogan {
        display: none;
        visibility: hidden;

    }
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 5%;
    }
}