.dow-cards {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/*@media (min-width: 600px) {
    .dof-cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .dof-cards { grid-template-columns: repeat(3, 1fr); }
}*/

.dow-item {
    /*width: 100%;*/
    /*border: 1px solid black;*/
    /*padding: 2%;*/
    text-align: center;
    background-color: antiquewhite;

}

.dof-card {
    display: grid;
}

.dof-card-img {
    grid-area: card_img;
}

.dow-item a {
    text-decoration: none;
    color: black;
}

.dow-item a:hover {
    font-weight: bold;
}

.dow-item img {
    /*width: 75%;
    height: auto;*/
    max-width: 300px;
    max-height: 200px;
    padding: 5%;
}

.sale-price {
    color: red;
    font-weight: bolder;
}

.original-price {
    text-decoration: line-through;
}

.main h2 a {
    color: black;
    text-decoration: none;
}


/* RESPONSIVE GRID */
* {
  box-sizing: border-box;
}

.col::after {
    content: "";
    clear: both;
    display: table;
}

[class*="row-"] {
    float: top;
    /*padding: 15px;*/

}

.row-1 {
    height: 16.66%;
}

.row-2 {
    height: 33.33%;
}

.row-3 {
    height: 50%;
}

.row-4 {
    height: 66.66%;
}

.row-5 {
    height: 83.33%;
}

.row-6 {
    height: 100%;
}



