/* START EDIT USER PROFILE (P10) */
.userProfileForm {
    width: 100%;
    max-width: 100%;
    min-height: 200px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 20%;
}

.container#info {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.image {
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: darkgreen;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

.container input {
    text-transform: uppercase;
    min-width: 30px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5% 0.5%;
}

/* END EDIT USER PROFILE (P10) */