a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    border-style: solid;
    border-width: 1px;
    border-color: saddlebrown;
    background-color: burlywood;
    color: initial;
    text-decoration: none;
    padding: .5%;
    width: 5%;
    font-size: 100%;

}

h1 {
    text-align: center;
}

table {

    border-style: double;
    /*padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;*/
    background-color: cornsilk;
    text-align-last: left;
    padding: 1% 2% 1% 2%;
    margin: 0 auto;
    max-width: 550px;
}
.grid-item {
    text-align: left;
}
tr {
    border-top: thin solid;
    border-bottom: thin solid
}
#box {
    padding: 1% 2% 1% 2%;
    margin: 0 auto;
    max-width: 550px;
}
.grid-container {
    /*Add for responsive*/
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}