.grid-container {
    /*Add for responsive*/
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.addbutton {
    -webkit-appearance: button;
    -moz-appearance: button;
    border-style: solid;
    border-width: 1px;
    border-color: saddlebrown;
    background-color: burlywood;
    color: initial;
    text-decoration: none;
    padding: .5%;
    width: 10%;
    font-size: 100%;
}

h1 {
    text-align: center;
    font-size: 300%;
}
.button {
    font-size: 120%;
    margin-top: 5%;
}
.addbutton{
    font-size: 150%;
}

table {
    border-style: double;
    /*padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;*/
    background-color: cornsilk;
    text-align-last: left;
    padding: 1% 2% 1% 2%;
    margin: 0 auto;
   width: 100%;
    display: block;
    table-layout: fixed;
    font-size: 120%;
}

.textbox{
    font-size: 120%;
}
.grid-item {
    text-align: left;
}
tr {
    border-top: thin solid;
    border-bottom: thin solid
}
#box {
    padding: 1% 2% 1% 2%;
    margin: 0 auto;
    max-width: 100%;
}

.main {
    margin-top: 5%;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}
