.grid-container {
    /*Add for responsive*/
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-bottom: 31%;
}

h1 {
    text-align: center;
    font-size: 300%;
}

.button {
    font-size: 150%;
}

textarea {
    resize: none;
}

div.editOrder {
    margin-top: 2%;
    margin-bottom: 5%;
}

body {
    text-align: center;
}

table {
    border-style: double;
    /*padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;*/
    background-color: cornsilk;
    text-align-last: left;
    padding: 1% 2% 1% 2%;
    margin: 0 auto;
    width: 75%;
    height:100%;

    table-layout: fixed;
    font-size: 120%;
}

td{
    padding-right: 50%;
}

select {
    text-align-last: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    border-style: solid;
    border-width: 1px;
    border-color: saddlebrown;
    background-color: burlywood;
    color: initial;
    text-decoration: none;
    margin-top: 5%;
    padding: .5%;
    width: 40%;

}
.savebutton {
    font-size: 120%;
    margin-top: 5%;
}

#box {
    padding: 1% 2% 1% 2%;
    margin: 0 auto;
    max-width: 100%;
}

.grid-item {
    text-align: left;
}

.main {
    margin-top: 5%;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}