
textarea {
    resize: none;
}

div.editOrder {
    margin-top: 5%;
    margin-bottom: 5%;
}

body {
    text-align: center;
}

table {
    background-color: cornsilk;
    border-style: double;
    margin-bottom: 5%;
}

select {
    text-align-last: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    border-style: solid;
    border-width: 1px;
    border-color: saddlebrown;
    background-color: burlywood;
    color: initial;
    text-decoration: none;
    margin-top: 10%;
    padding: .5%

}