
textarea {
    resize: none;
}

div.editOrder {
    margin-top: 5%;
    margin-bottom: 5%;
}

body {
    text-align: center;
}

table {
    background-color: cornsilk;
    border-style: double;
    margin-bottom: 5%;
}

select {
    text-align-last: center;
}