
textarea {
    resize: none;
}

div.editOrder {
    margin-top: 2%;
    margin-bottom: 5%;
}

body {
    text-align: center;
}

table {
    background-color: cornsilk;
    border-style: double;
    margin-bottom: 5%;
}

select {
    text-align-last: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    border-style: solid;
    border-width: 1px;
    border-color: saddlebrown;
    background-color: burlywood;
    color: initial;
    text-decoration: none;
    margin-top: 5%;
    padding: .5%;
    width: 20%;
    font-size: 110%;

}

#box {
    padding: 1% 2% 1% 2%;
    margin: 0 auto;
    max-width: 550px;
}
.grid-container {
    /*Add for responsive*/
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
