.grid-container {
    /*Add for responsive*/
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

h1 {
    /*font-family: cursive;*/
    color: seagreen;

}

h2 {
    /*font-family: fantasy;*/
    font-size: 12px;
    text-align: center;
    /*button-align: left;*/
}

h3 {
    font-family: Helvetica;
    font-size: large;
    text-align: center;
}

h4{
    /*font-family: cursive;*/
    color: seagreen;
}

table {
    border-style: ridge;
    border-color: darkslategrey;
    vertical-align: auto;
    text-align: center;
    margin-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
}

#food{
    max-width: 200px;
    max-height: 200px;
}

.img-with-text {
    text-align: center;
}

.img-with-text {
    display: block;
    text-align: center;

}
button {
    margin: auto;
}

#subtotal{
    text-align: center;
}
#subtract{
    background-color: burlywood;
    text-align: center;
    display: block;
    width: 30px;
}
#delete{
    font-family: cursive;
    background-color: burlywood;
    text-align: center;
    display: block;
    margin: auto;
}

#add{
    background-color: burlywood;
    text-align: center;
    display: block;
    width: 30px;
}
.continue{
    text-align: center;
    display: block;
    margin: auto;
}
#number {
    background-color: thistle;
    text-align: center;
    padding: 6px 10px 6px 10px;
    width: 15px;
    position: center;
}

#checkout{
    border-style: groove;
    background-color: antiquewhite;
    text-align: center;
    display: inline-block;
    border-color: blueviolet;
    margin-top:5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}

.main {
    /*Change to % for responsiveness*/
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}


#orderTitle{
    font-weight: bold;
}

.grid-item {
    /*padding: 10px; Remove for responsive*/
    text-align: left;
}

.grid-item a {
    text-decoration: none;
    color: black;
}

.grid-item a:hover {
    font-weight: bold;
}

th{
    border-bottom-style: dotted;
}




