html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Helvetica, Arial;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: 400px 400px 400px;
    justify-content: space-evenly;
    padding: 50px;
    padding-top:0;
}

 #box{
       border: 1px solid black;
       padding: 1% 1% 1% 3%;
       margin: 0 auto;
       max-width: 400px;
       background: lightgreen;
 }

.grid-item {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;
}

.grid-item a {
    text-decoration: none;
    color: black;
}

.grid-item a:hover {
    font-weight: bold;
}

.grid-item img {
    max-width: 300px;
    max-height: 200px;
    padding: 30px;
}

.sale-price {
    color: red;
    font-weight: bolder;
}
.original-price {
    text-decoration: line-through;
}

.main h2 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.main h2 a {
    text-decoration: none;
    color: black
}

p {
    margin-left: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
}
