/* author Michael Rowe */

.product-table {
    text-align: center;
    word-wrap: break-word;
    resize:none;
}

textarea {
    resize:none;
}

html, body{ height:100%; margin:0; }

/* Trick */
body{
    display:flex;
    flex-direction:column;
}

footer{
    margin-top:auto;
}